.chart {
  width: 784px;
  max-width: 784px;
  padding: 24px 18px 24px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
}

.chartTitle {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  font-weight: bold;
}

.title-tip {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400;
  color: #999;
}

.to-do-box-item[data-v-3a7c6ce3],
.to-do-box[data-v-3a7c6ce3] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.to-do-box[data-v-3a7c6ce3] {
  margin-bottom: -24px;
}
.to-do-box-aitem[data-v-3a7c6ce3] {
  width: 184px;
  padding: 8px 0;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
a {
  color: #e84f20;
  text-decoration: none;
}
.item-desc[data-v-3a7c6ce3] {
  font-size: 12px;
  color: #333;
  max-height: 42px;
  overflow: hidden;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
.to-do-box-aitem[data-v-3a7c6ce3]:after {
  content: "";
  width: 1px;
  height: 35px;
  background-color: #e5e5e5;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -18px;
}
.to-do-box-aitem[data-v-3a7c6ce3]:nth-child(4n):after {
  width: 0;
}
