.aside-column[data-v-1a3edc0c] {
  width: 300px;
}
[class*="col"] {
  min-width: 0;
  margin-left: 0;
  margin-right: 0;
}
.card-offset[data-v-1a3edc0c] {
  margin-bottom: 16px;
}
.card[data-v-36161b20] {
  width: 290px;
  max-width: 290px;
  padding: 20px;
  margin-top: -693px;
  margin-left: 800px;
}
.card {
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  padding: 24px 24px 8px;
}
.title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.title {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  font-weight: var(--font-weight);
}
.div,
i,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

div {
  display: block;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.shopee-button {
  color: #333;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 32px;
  min-width: 72px;
  padding: 0 16px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.shopee-button--link {
  color: #2673dd;
  background-color: transparent;
  border-color: transparent;
  height: unset;
  min-width: unset;
  padding: 0;
  font-weight: 400;
}
.shopee-button--link span + .shopee-icon {
  margin-left: 2px;
}
.shopee-button .shopee-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.shopee-icon {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  line-height: 0;
  fill: currentColor;
}

.content[data-v-36161b20] {
  width: 100%;
}
.announcement-wrapper[data-v-36161b20] {
  margin: 0px;
  overflow: hidden;
  min-height: 188px;
  padding-top: 5px;
}
.async-data-wrapper[data-v-066e19c8] {
  margin: 24px 0;
}
.async-data-wrapper[data-v-066e19c8] {
  margin: 24px 0;
}
.box[data-v-36161b20] {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-hover[data-v-36161b20] {
  cursor: pointer;
}
.item .title[data-v-36161b20] {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  margin-bottom: 4px;
  font-weight: bold;
}

.item .desc[data-v-36161b20] {
  color: #666;
  position: relative;
  max-height: 108px;
  line-height: 18px;
  font-size: 14px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.new-icon[data-v-36161b20] {
  font-size: 12px;
  color: rgb(244, 0, 0);
}
.mtime[data-v-36161b20] {
  margin-top: 6px;
  display: inline-block;
  font-size: 12px;
  color: #999;
}
