.card-offset[data-v-1a3edc0c] {
  margin-bottom: 16px;
}
.card {
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  padding: 24px 24px 8px;
}
.card[data-v-5d186296] {
  width: 784px;
  max-width: 784px;
  padding: 24px 24px 8px;
}
.title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.div,
i,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
.title {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  font-weight: bold;
}
.title-box .title-tip {
  margin-left: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
[data-v-1a3edc0c] .card-tips {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400;
  color: #999;
}

/*list box*/
.list-box[data-v-5d186296] {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 16px;
  min-width: 288px;
}
.item[data-v-5d186296]:first-child {
  padding-top: 0;
  padding-left: 320px;
}
.item[data-v-5d186296] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #e8e8ec;
}
/*list 1*/

.item-box[data-v-5d186296] {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 16px;
}

.item-title[data-v-5d186296] {
  line-height: 16px;
  font-size: 12px;
  margin-bottom: 8px;
  color: #666;
}

.item-number[data-v-5d186296] {
  height: 24px;
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 7px;
  color: #333;
  font-weight: 500;
  font-weight: var(--font-weight);
}
.item-increase-number[data-v-5d186296] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.item-increase[data-v-5d186296] {
  font-size: 12px;
  color: #999;
}
/*list 1*/
.item-box[data-v-5d186296]:last-child {
  margin-right: 0;
}

.text-overflow,
.text-overflow2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-overflow {
  white-space: nowrap;
}

.item-increase[data-v-5d186296] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item[data-v-5d186296]:last-child {
  padding-bottom: 0;
  border-bottom: none;
  padding-left: 320px;
}
.item[data-v-5d186296] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #e8e8ec;
}
/*list 1*/

.item-increase-number[data-v-5d186296] {
  width: 68px;
  max-width: 68px;
  min-width: 68px;
  margin-left: 4px;
  overflow: hidden;
}

.shopee-popover,
.shopee-popover__ref {
  display: inline-block;
}

.item-increase-number-icon[data-v-5d186296] {
  color: rgb(187, 189, 191);
  width: 16px;
  height: 16px;
}
