:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #f7432e;
  --border-color: #dbdbdb;
  --height--header: 120px;
  --height--nav: 34px;
  --height--search: calc(var(--height--header) - var(--height--nav));
}
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* responsive */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.grid__column-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 16.67%;
}
.grid__column-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: 83.33%;
}
.grid__column-item-2 {
  margin-left: 12px;
  margin-right: 12px;
  width: 22%;
}
.grid__column-footer-2 {
  width: 20%;
}

@keyframes animateLeftToRight {
  0% {
    opacity: 0;
    transform: translate(-50px, 0);
  }
  /* 80%{
    transform: translate(-20px,0);
  } */
  100% {
    opacity: 1;
    transform: (0, 0);
  }
}
@keyframes animateRightToLeft {
  0% {
    opacity: 0;
    transform: translate(50px, 0);
  }
  /* 80%{
    transform: translate(-20px,0);
  } */
  100% {
    opacity: 1;
    transform: (0, 0);
  }
}

@keyframes animateTopToBottom {
  0% {
    opacity: 0;
    transform: translate(0, -50px);
  }
  /* 80%{
    transform: translate(-20px,0);
  } */
  100% {
    opacity: 1;
    transform: (0, 0);
  }
}
